In [9]:
import pandas as pd
import numpy as np

df = pd.DataFrame([])
temper = np.random.normal(36.5, 0.3, 1000)
df["temper"] = temper
iphone = np.random.normal(8, 1.0, 1000)
df["iphone"] = iphone
blood_oxy = np.random.normal(98, 0.3, 1000)
df["blood_oxy"] = blood_oxy
heartbeat = np.random.normal(75, 20, 1000) 
num_step = np.random.normal(6000, 1000, 1000)
df["num_step"] = num_step
df["heartbeat"] = heartbeat


_id = []
for i in range(10):
    _id+=[i]*100
days = []
for j in range(10):
    days+=[i for i in range(100)]

df["id"] = _id
df["days"] = days
df["fatigue"] = np.sqrt(df["temper"]) * np.sqrt(df["iphone"])* heartbeat**2/10**4* df["heartbeat"]/1000

In [10]:
df

,temper,iphone,blood_oxy,num_step,heartbeat,id,days,fatigue
0,36.946468,6.963103,97.615053,6252.648478,59.012483,0,0,0.329625
1,36.640490,8.604958,98.392463,6241.673751,81.642967,0,1,0.966299
2,36.860749,8.844843,98.311004,4629.293285,60.992502,0,2,0.409691
3,36.165398,8.938535,98.093251,7034.754716,92.883937,0,3,1.440793
4,36.099249,8.993468,97.809152,5338.771103,76.526163,0,4,0.807500
...,...,...,...,...,...,...,...,...
995,36.478512,8.948507,97.994864,6953.463779,63.213986,9,95,0.456387
996,36.481633,7.905111,98.349448,8139.266868,45.204980,9,96,0.156874
997,36.669060,10.143214,98.311505,7090.194240,49.228777,9,97,0.230088
998,36.768462,6.399796,98.421989,6136.059626,67.560666,9,98,0.473045
999,36.365696,8.020576,97.958292,4288.128897,72.631067,9,99,0.654359

In [13]:
df.to_csv("../data/ori_data.csv")